<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:dt="http://www.thymeleaf.org/dandelion/datatables">

<head>
    <title>table</title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="/css/main.css" />
</head>

<body>
    <div class="span12">
        <table id="myTableId" dt:table="true">
            <thead>
            <tr>
                <th>Id</th>
                <th>FirstName</th>
                <th>LastName</th>
                <th>eMail</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="person : ${persons}">
                <td th:text="${person?.id}">1</td>
                <td th:text="${person?.firstName}">John</td>
                <td th:text="${person?.lastName}">Doe</td>
                <td th:text="${person?.email}">nemo@nowhere.arse</td>
            </tr>
            </tbody>
        </table>
    </div>
</body>
</html>